<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
                <add value="index.htm" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Custom">
            <remove statusCode="404" />
            <error statusCode="404" path="/Error/Error404" responseMode="ExecuteURL" />
            <remove statusCode="500" />
            <error statusCode="500" path="/Error/Error500" responseMode="ExecuteURL" />
            <remove statusCode="403" />
            <error statusCode="403" path="/Error/Error403" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>